.navbar-toggler-right:hover {
    background-color: white;
    color: black;
}

.myslider img {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}

/* Slideshow container */

.myslider {
    max-width: 1000px;
    height: 45%;
    width: 100%;
    margin: auto;
}

.calender-frame {
    text-align: center;
    margin: auto;
    width: 100%;
}

.myframe {
    padding-bottom: 20px;
    transition: 0.5s ease;
}

.myframe:hover {
    transition: 0.5s ease;
    opacity: 0.45;
}

.myoverlay {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: auto;
}

/* Hide the images by default */

.myslider-item-1 {
    height: 100%;
    width: 100%;
    display: none;
}

.myslider-2 img {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}

/* Slideshow container */

.myslider-2 {
    max-width: 1000px;
    height: 50%;
    width: 100%;
    margin: auto;
    text-align: center;
}

#about-spring {
    height:500px;
}
/* Hide the images by default */

.myslider-item-2 {
    height: 100%;
    width: 100%;
    display: none
}

/* nextbutton & previousbuttonious buttons */

.previousbutton, .nextbutton {
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 41%;
    color: #000;
    padding: 10px 8px;
    background-color: #2C3E50;
    color: white;
    opacity: 0.7;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.button-container {
    width: 98%;
}

/* Position the "nextbutton button" to the right */

.nextbutton {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previousbutton {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.previousbutton:hover, .nextbutton:hover {
    background-color: #000;
    color: #FFF;
}

.previousbutton-2, .nextbutton-2 {
    cursor: pointer;
    width: auto;
    color: #000;
    padding: 20px 20px;
    background-color: #FFF;
    border: 2px solid #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "nextbutton button" to the right */

.nextbutton-2 {
    border-radius: 3px 0 0 3px;
}

.previousbutton-2 {
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.previousbutton-2:hover, .nextbutton-2:hover {
    background-color: #000;
    color: white;
}

.timeline li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.timeline a {
    color: gray;
}

.timeline p {
    color: white;
}

.timeline {
    list-style-type: none;
    margin-right: 20px;
}

.timeline-3 {
    list-style-type: none;
    list-style: none;
    margin-right: 40px;
}

.timeline-3 li {
    list-style: none;
}

.timeline-2 .row {
    width: 50%;
}

.timeline-2 li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.timeline-2 a {
    text-align: center;
    border: 2px solid white;
    height: 60px;
    width: 60px;
    padding: 10px 10px 0px 10px;
    float: center;
    color: white;
}

.timeline-2 p {
    color: white;
}

.timeline-2 {
    text-align: center;
    list-style-type: none;
    margin-right: 40px;
}

input {
    name: black;
    color: black;
    border: none;
}

.my-list li {
    list-style: none;
    text-align: center;
    float: center;
    margin: 30px;
}

.my-list li p {
    color: white;
}

.my-list-list3 {
    margin-right: 200px;
}

.my-list-list2 {
    margin-right: 100px;
}

label {
    color: #18BC9C;
}

.my-row {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

object {
    height: 400px;
}

.disney {
    height: 530px;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

video {
    height: 300px;
    width: 90%;
}

.my-container {
    padding-top: 100px;
    height: 100%;
    width: 100%;
    text-align: center;
}

@media(min-width: 900px) {
    #parts {
        height: 900px;
    }
    .my-row {
        width: 50%;
        padding-bottom: 20px;
        text-align: center;
        float: left;
    }
}

@media(max-width: 700px) {
    .my-row {
        width: 100%;
        text-align: center;
    }
    object {
        height: 300px;
    }
    video {
        width: 100%;
        height: 200px;
    }
    #forms-spring{
        height:250px;
    }
}

@media(max-width: 500px) {
    .myslider {
        max-width: 1000px;
        height: 35%;
        width: 100%;
        margin: auto;
    }
    .previousbutton, .nextbutton {
        top: 36%;
    }
}

@media(max-width: 400px) {
    .myslider {
        height: 30%;
    }
    
}

.myform {
    margin: auto;
    width: 95%;
    height: 50%;
}

.myform .calender-frame {
    visibility: visible;
}

#myschedule {
    float: center;
    color: white;
}

.dropdown-menu a{

    color:black;
    text-align:center;
}

.center-pdf {
    width:100%;
    height:auto;
    text-align:center;
    margin-top:50px;
}
.center-pdf img {
    margin:auto;
    width:100%;
    height:100%;
}
#music a{
    float:center;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}